/* === HEADER === */

#header {
  font-family: Verdana,Geneva,sans-serif; 
  overflow: hidden;
}

#header .left-button {
  float: left;
}

#header .right-button {
  float: right;
}

#header img {
  max-width: 24px;
  max-height: 24px;
  padding: 16px;
}

#header > div:hover {
  background-color: rgba(127, 127, 127, 0.273);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  z-index: 1;
  min-width: 120px;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content form {
  margin: 12px;
}

.dropdown-content form > * {
  padding: 5px;
  margin: 4px;
  float: left;
  clear: both;
}

.dropdown-content form span {
  color: red;
}

.dropdown-content form button {
  float: right;
}

.dropdown-content .dropdown-head span {
  background-color: WhiteSmoke;
  display: block;
  padding: 12px 16px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.dropdown-content .dropdown-link a {
  display: block;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  color: black;
}

.dropdown-content .dropdown-link:hover {
  background-color: #ddd;
}
