div.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}

ul.solarsystem {
    position: relative;
    height: 480px;
    list-style: none;
    transition: all 0.09s ease-in;
    overflow: hidden;
}

ul.solarsystem li {
    display: block;
    position: absolute;
    border: 1px solid grey;
}

ul.solarsystem li img {
    position: absolute;
    border-radius: 5px;
}

ul.solarsystem li.sun {
    width: 40px;
    height: 40px;
    top: 302px;
    left: 462px;
    border: none;
    z-index: 100;
    transition: all 0.2s ease-in;
}

ul.solarsystem li.planetA {
    width: 100px;
    height: 100px;
    top: 270px;
    left: 430px;
    z-index: 99;
    animation-name:orbitA;
}

ul.solarsystem li.planetA img {
    top: 10px;
    left: 10px;
}

ul.solarsystem li.planetB {
    width: 160px;
    height: 160px;
    top: 240px;
    left: 400px;
    z-index: 98;
    animation-name:orbitB;
}

ul.solarsystem li.planetB img {
    top: 118px;
    left: 5px;
}

ul.solarsystem li.planetC {
    width: 220px;
    height: 220px;
    top: 210px;
    left: 370px;
    z-index: 97;
    animation-name:orbitC;
}

ul.solarsystem li.planetC img {
    top: 56px;
    left: 5px;
}

ul.solarsystem li.planetD {
    width: 280px;
    height: 280px;
    top: 180px;
    left: 340px;
    z-index: 96;
    animation-name:orbitD;
}

ul.solarsystem li.planetD img {
    top: 0px;
    left: 175px;
}

ul.solarsystem li.planetE {
    width: 340px;
    height: 340px;
    top: 150px;
    left: 310px;
    z-index: 95;
    animation-name:orbitE;
}

ul.solarsystem li.planetE img {
    top: 67px;
    left: 24px;
}

@keyframes defaultOrbit { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

@keyframes orbitA { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

@keyframes orbitB { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

@keyframes orbitC { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

@keyframes orbitD { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

@keyframes orbitE { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } 
}

ul.solarsystem li {
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-name:defaultOrbit;
}

ul.solarsystem li.planetA {animation-duration:6s; }
ul.solarsystem li.planetB {animation-duration:12s; }
ul.solarsystem li.planetC {animation-duration:15s; }
ul.solarsystem li.planetD {animation-duration:18s; }
ul.solarsystem li.planetE {animation-duration:21s; }

.maxsized {
    max-height: 27px;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
