header.header-class {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header.header-class > div {
    display: inline-flex;
}

.header-logo {
    width: 24px;
    height: 24px;
    padding: 12px;
}
  
.header-logo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.header-logo:active {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  
img.header-logo {
    opacity: 0.5;
}
  
.username {
    margin: 12px;
}